.auth-back{
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}

.button{
    color: white;
    background-image: linear-gradient(#d0b200, #a58d00);
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.head{
     color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}
.sub-head{
     color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}
.input-con{
    margin: 10px;
    border: 2px solid #7b8794;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 2px;
    
}
.input-text{
    border:0px;
    color: #7b8794;
    padding: 5px;
    background-color: transparent;
}
.icon{
    height: 30px;
    width: 30px;
}
.span{
    color: blue;
    cursor: pointer;
}

.err-msg{
    color: red;

}
.suc-msg{
    color: rgb(70, 70, 159);
}
.app-backround{
    background-image: radial-gradient(#fff8db, #fae38c);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}